body {
  font-family: arial, sans-serif;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}
.city {
  color: black;
  font-family: arial, sans-serif;
  font-size: 28px;
  font-weight: 100;
  line-height: 29px;
  margin-bottom: 0;
  margin-left: 15px;
}
li {
  list-style: none;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 28px;
}

.float-left {
  height: 90px;
  width: 90px;
  margin-right: 10px;
  color: darkgoldenrod;
}
.temperature {
  color: black;
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
}
.units {
  position: relative;
  top: -34px;
  margin: 0 auto;
}
.search-form {
  margin-bottom: 20px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.tidy {
  text-align: center;
}
