body {
  font-family: arial, sans-serif;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}
.city {
  color: black;
  font-family: arial, sans-serif;
  font-size: 28px;
  font-weight: 100;
  line-height: 29px;
  margin-bottom: 0;
  margin-left: 35px;
}
li {
  list-style: none;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 28px;
}

.float-left {
  height: 90px;
  width: 90px;
  margin-right: 10px;
  color: darkgoldenrod;
}
.temperature {
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: -34px;
}
.units {
  position: relative;
  top: 20px;
  margin-bottom: -34px;
}
.search-form {
  margin-bottom: 20px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.weather-forecast-icon {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #f65282;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.weather-forecast-temperature {
  padding: 0 10px;
}
.overview {
  margin-bottom: 20px;
}

.tidy {
  text-align: left;
  margin-left: 290px;
  margin-top: 10px;
}
